* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #0d0d0d;
    color: #ffffff;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #000;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #f5c542;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover {
    color: #f5c542;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("https://images.unsplash.com/photo-1604908177453-7462950a0a4b") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding: 0 8%;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    color: #f5c542;
}

.hero-text p {
    margin: 20px 0;
    font-size: 18px;
}

.hero-text button {
    padding: 12px 30px;
    border: none;
    background: #f5c542;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-text button:hover {
    background: white;
}

/* FOODS */
.foods {
    padding: 60px 8%;
    text-align: center;
}

.foods h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #f5c542;
}

.food-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.food-card {
    background: #1a1a1a;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.food-card:hover {
    transform: translateY(-10px);
}

.food-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.food-card h3 {
    margin: 15px 0 5px;
    color: #f5c542;
}

.food-card p {
    padding: 0 15px 20px;
    font-size: 14px;
}

/* FOOTER */
footer {
    background: #000;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #aaa;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-top: 10px;
    }

    .hero-text h1 {
        font-size: 34px;
    }
}
